@page "/aggregated-ingredients"
@layout FoodCalc.Web.Layout.MinimalLayout
@using Blazored.LocalStorage
@using FoodCalc.Web.Constants
@inject ILocalStorageService LocalStorage

<div class="shopping-list-page">
    <AggregatedIngredients Ingredients="_ingredients" InitialItems="_initialItems" OnItemsChanged="SaveItemsAsync" />
</div>

@code {
    private List<RecipeItemDto> _ingredients = new();
    private List<string> _initialItems = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var newList = await LocalStorage.GetItemAsync<List<RecipeItemDto>>(WebConstants.Storage.AggregatedIngredients);
            if (newList?.Count > 0)
            {
                _ingredients = newList;
                _ = LocalStorage.RemoveItemAsync(WebConstants.Storage.AggregatedIngredients);
            }
            else
            {
                _initialItems = await LocalStorage.GetItemAsync<List<string>>(WebConstants.Storage.ShoppingListItems) ?? new();
            }
            StateHasChanged();
        }
    }

    private async Task SaveItemsAsync(List<string> items)
    {
        await LocalStorage.SetItemAsync("shopping-list-items", items);
    }
}
