<h4>User List</h4>
<ul>
    @foreach (var user in users)
    {
        <li>@user.Email (@(user.Enabled ? "Enabled" : "Disabled"))</li>
    }
</ul>

@code {
    private List<UserDto> users = new();

    protected override async Task OnInitializedAsync()
    {
        // TODO: Replace with actual API call
        // users = await Http.GetFromJsonAsync<List<UserDto>>("https://localhost:7426/api/admin/users");
        users = new List<UserDto> {
            new UserDto { Email = "admin@foodhub.com", Enabled = true },
            new UserDto { Email = "user@foodhub.com", Enabled = false }
        };
    }

    public class UserDto
    {
        public string Email { get; set; }
        public bool Enabled { get; set; }
    }
}
