@page "/register"
@layout Layout.LoginLayout
@using Microsoft.AspNetCore.Components.Forms
@inject LoginService LoginService
@inject NavigationManager Navigation

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h3 class="mb-4 text-center">Register</h3>
        <EditForm Model="registerModel" OnValidSubmit="HandleRegister">
            <DataAnnotationsValidator />
            <ValidationSummary class="mb-3" />
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <InputText id="email" class="form-control" @bind-Value="registerModel.Email" placeholder="Enter your email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <InputText id="password" class="form-control" @bind-Value="registerModel.Password" type="password" placeholder="Enter your password" />
            </div>
            <button type="submit" class="btn btn-success w-100">Register</button>
        </EditForm>
        @if (showMessage)
        {
            <div class="alert @(IsError ? "alert-danger" : "alert-success") mt-3" role="alert">
                @_message
            </div>
        }
        <div class="mt-3 text-center">
            <a href="/login">Already have an account? Login</a>
        </div>
    </div>
</div>

@code {
    private RegisterDto registerModel { get; set; } = new();

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    private async Task HandleRegister()
    {
        var response = await LoginService.RegisterAsync(registerModel);

        if (response)
        {
            await ShowMessage("Registration successful! You can now login.", false);
            //await Task.Delay(1500);
            Navigation.NavigateTo("/login");
        }
        else
        {
            ShowMessage("Registration failed!", true);
        }
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
