@page "/login"
@inject LoginService LoginService

<h3>Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Email:</label>
        <InputText @bind-Value="loginModel.Email" type="email" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm>

@if (showMessage)
{
    <div class="alert @(IsError ? "alert-danger" : "alert-success")">
        @_message
    </div>
}

@code {
    private LoginModel loginModel = new();

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    private async Task HandleLogin()
    {
        bool success = await LoginService.Login(loginModel);
        if (!success)
        {
            // Show error
            ShowMessage("Failed to login", true);
        }
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
