@page "/register"
@using Microsoft.AspNetCore.Components.Forms
@inject LoginService LoginService
@inject NavigationManager Navigation

<h3>Register</h3>
<EditForm Model="registerModel" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="registerModel.Email" placeholder="Email" />
    <InputText @bind-Value="registerModel.Password" type="password" placeholder="Password" />
    <button type="submit">Register</button>
</EditForm>

@if (showMessage)
{
    <div class="alert @(IsError ? "alert-danger" : "alert-success")">
        @_message
    </div>
}

@code {
    private RegisterDto registerModel { get; set; }

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    private async Task HandleRegister()
    {
        var response = await LoginService.RegisterAsync(registerModel);

        if (response)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            ShowMessage("Registration failed!", true);
        }
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
