@using FoodCalc.Web.Components.Services.Admin
@inject AdminService AdminService

<h4>User List</h4>
@if (users.Any())
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Email (@(user.Enabled ? "Enabled" : "Disabled")) </li>
            <div>
                @if (user.Enabled)
                {
                    <button @onclick='async () => await AdminService.ToggleUserAsync(user.Email, false)'>Disable</button>
                }
                else
                {
                    <button @onclick='async () => await AdminService.ToggleUserAsync(user.Email)'>Enable</button>
                }
            </div>
        }
    </ul>
}
else
{
    <p>No users, something went wrong</p>
}



@code {
    private List<UserDto> users = new();

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                users = await AdminService.GetUsersAsync();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                users = [];
                ShowMessage(ex.Message, true, 20000);
                StateHasChanged();
            }
        }
    }

    public async Task<bool> EnableUser(string email)
    {
        return await AdminService.ToggleUserAsync(email);
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
