@using FoodCalc.Web.Components.Services.Admin
@inject AdminService AdminService

<div class="container py-4">
    <h3 class="mb-4">User List</h3>
    @if (users.Any())
    {
        <div class="list-group">
            @foreach (var user in users)
            {
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="text-decoration-none flex-grow-1" href="/admin/userroles/@user.Email">
                        <strong>@user.Email</strong>
                        <span class="badge ms-2 @(user.Enabled ? "bg-success" : "bg-danger")">@(user.Enabled ? "Enabled" : "Disabled")</span>
                    </a>
                    <div>
                        @if (user.Enabled)
                        {
                            <button class="btn btn-sm btn-outline-danger" @onclick='async () => await ToggleUserAsync(user.Email, false)'>Disable</button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-outline-success" @onclick='async () => await ToggleUserAsync(user.Email, true)'>Enable</button>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">No users, something went wrong</div>
    }
    @if (showMessage)
    {
        <div class="alert @(IsError ? "alert-danger" : "alert-success") mt-3" role="alert">
            @_message
        </div>
    }
</div>


@code {
    private List<UserDto> users = new();

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                users = await AdminService.GetUsersAsync();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                users = [];
                ShowMessage(ex.Message, true, 20000);
                StateHasChanged();
            }
        }
    }

    public async Task ToggleUserAsync(string email, bool enabled)
    {
        await AdminService.ToggleUserAsync(email, enabled);
        users.Where(u => u.Email == email).SingleOrDefault(u => u.Enabled = enabled);
        //StateHasChanged();
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
