@page "/admin/userroles/{email}"
@using FoodCalc.Web.Components.Services.Admin
@inject AdminService AdminService
@inject LoginService LoginService
@inject MessageService MessageService
@inject NavigationManager Navigation

<h4 class="mb-4">Manage Roles for @email</h4>

@if (roles == null || allRoles == null)
{
    <p>Loading roles...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <label for="addRole" class="form-label">Add Role</label>
            <div class="input-group mb-3">
                <select id="addRole" class="form-select" @bind="selectedRole">
                    <option value="">Select a role...</option>
                    @foreach (var role in allRoles.Except(roles))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <button class="btn btn-success" @onclick="AddRole" disabled="@(string.IsNullOrEmpty(selectedRole))">Add</button>
            </div>
        </div>

        <div class="col-md-6">
            <ul class="list-group">
                @if (roles.Any())
                {
                    @foreach (var role in roles)
                    {
                        <li class="list-group-item d-flex align-items-center">
                            <span>
                                @role
                            </span>
                            <span class="ms-auto">
                                <button class="btn btn-danger btn-sm" @onclick="() => RemoveRole(role)">Delete</button>
                            </span>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item d-flex align-items-center">
                        <span>No roles assigned</span>
                        <span class="ms-auto">
                            <button class="btn btn-danger btn-sm d-none">x</button>
                        </span>
                    </li>
                }

            </ul>
        </div>
    </div>

    @if (true) //todo: check if loggedin user is admin
    {
        <div class="row">
            <div class="col-md-6">
                <EditForm Model="resetModel" OnValidSubmit="ResetPassword">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label for="bewachtewoord" class="form-label">Reset password</label>
                        <InputText id="bewachtewoord" class="form-control" @bind-Value="resetModel.password" required />
                    </div>

                    <button class="btn btn-primary" type="submit">Reset</button>
                </EditForm>
            </div>
        </div>
    }
}
<FoodCalc.Web.Components.Shared.MessageBox />

@code {
    [Parameter] public string email { get; set; }
    private List<string> roles;
    private List<string> allRoles;
    private string selectedRole;
    public PasswordResetModel resetModel = new();

    protected override async Task OnInitializedAsync()
    {
        roles = await AdminService.GetUserRolesAsync(email);
        allRoles = await AdminService.GetAllRolesAsync();
    }

    private async Task AddRole()
    {
        if (!string.IsNullOrEmpty(selectedRole) && !roles.Contains(selectedRole))
        {
            var result = await AdminService.UpdateUserRolesAsync(email, selectedRole);
            if (result)
            {
                roles.Add(selectedRole);
                selectedRole = string.Empty;
                await MessageService.ShowMessageAsync("Role added successfully!", false);
            }
            else
            {
                await MessageService.ShowMessageAsync("Failed to add role.", true);
            }
        }
    }

    private async Task RemoveRole(string role)
    {
        var result = await AdminService.UpdateUserRolesAsync(email, role);
        if (result)
        {
            roles.Remove(role);
            await MessageService.ShowMessageAsync("Role removed successfully!", false);
        }
        else
        {
            await MessageService.ShowMessageAsync("Failed to remove role.", true);
        }
    }

    private ResetPasswordDto resetPasswordDto = new();

    private async Task ResetPassword()
    {
        try
        {
            resetPasswordDto.Email = email;
            resetPasswordDto.Password = resetModel.password;

            var resetResponse = await LoginService.ResetPassword(resetPasswordDto);

            if (resetResponse.IsSuccessStatusCode)
            {
                await MessageService.ShowMessageAsync("Password reset successfully!", false);
                resetModel.password = string.Empty;
                StateHasChanged();
            }
            else
            {
                string message = resetResponse.ReasonPhrase ?? string.Empty;//await resetResponse.Content.ReadAsStringAsync();
                await MessageService.ShowMessageAsync(message, true);
            }
        }
        catch (Exception ex)
        {
            await MessageService.ShowMessageAsync($"Error resetting password. error: {ex.Message}", true);
        }
    }

    public class PasswordResetModel
    {
        public string password { get; set; } = string.Empty;
    }

    public class RoleModel
    {
        public string Roles { get; set; } = string.Empty;
    }
}
