@using FoodCalc.Web.Components.Services.Admin
@inject AdminService AdminService
@inject MessageService MessageService

<div class="container py-4">
    <h3 class="mb-4">User List</h3>
    @if (users.Any())
    {
        <div class="list-group">
            @foreach (var user in users)
            {
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="text-decoration-none flex-grow-1" href="/admin/userroles/@user.Email">
                        <strong>@user.Email</strong>
                        <span class="badge ms-2 @(user.Enabled ? "bg-success" : "bg-danger")">@(user.Enabled ? "Enabled" : "Disabled")</span>
                    </a>
                    <div>
                        @if (user.Enabled)
                        {
                            <button class="btn btn-sm btn-outline-danger" @onclick='async () => await ToggleUserAsync(user.Email, false)'>Disable</button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-outline-success" @onclick='async () => await ToggleUserAsync(user.Email, true)'>Enable</button>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">No users, something went wrong</div>
    }
    <FoodCalc.Web.Components.Shared.MessageBox />
</div>


@code {
    private List<UserDto> users = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadUsersAsync();
    }

    private async Task LoadUsersAsync()
    {
        try
        {
            users = await AdminService.GetUsersAsync();
        }
        catch (Exception ex)
        {
            users = [];
            await MessageService.ShowMessageAsync(ex.Message, true, 20000);
        }
    }

    public async Task ToggleUserAsync(string email, bool enabled)
    {
        await AdminService.ToggleUserAsync(email, enabled);
        var user = users.FirstOrDefault(u => u.Email == email);
        if (user != null)
            user.Enabled = enabled;
    }
}
