@inject AdminService AdminService

<h4>User List</h4>
@if (users.Any())
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Email (@(user.Enabled ? "Enabled" : "Disabled"))</li>
        }
    </ul>
}
else
{
    <p>No users, something went wrong</p>
}



@code {
    private List<UserDto> users = new();

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                users = await AdminService.GetUsersAsync();
            }
            catch (Exception ex)
            {
                users = [];
                ShowMessage(ex.Message, true, 20000);
                StateHasChanged();
            }
        }
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
