@using FoodCalc.Web.Components.Services.Auth
@inherits LayoutComponentBase
@inject AuthTokenService AuthTokenService
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="nav-item px-3">
            @if (!string.IsNullOrEmpty(userEmail))
            {
                <span class="nav-link">@userEmail</span>
                <button class="nav-link" @onclick="Logout">Logout</button>
            }
            else
            {
                <a class="nav-link" href="/login">Login</a>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
     private string? userEmail;

    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (await AuthTokenService.IsTokenExpiredAsync())
                {
                    await AuthTokenService.RemoveTokenAsync();
                    Navigation.NavigateTo("/login");
                }
            }
            catch (Exception ex)
            {
                ShowMessage(ex.Message, true, 20000);
                StateHasChanged();
            }
            userEmail = await AuthTokenService.GetEmailAsync();
        }
    }

    private async Task Logout()
    {
        await AuthTokenService.RemoveTokenAsync(); // Clear the cookie
        Navigation.NavigateTo("/login");
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }
}
