@page "/aggregated-ingredients"
@layout FoodCalc.Web.Components.Layout.MinimalLayout
@using FoodHub.DTOs;
@inject FoodCalc.Web.Components.Services.AggregatedIngredientService AggregatedIngredientService

@if (AggregatedIngredientService.AggregatedIngredients.Any())
{
    <ul>
        @foreach (RecipeIngredientDto ingredient in AggregatedIngredientService.AggregatedIngredients.ToList())
        {
            <li>
                @ingredient.Ingredient.Name: @ingredient.Amount.ToFormattedString() @ingredient.IngredientAmount.ToString()
                <button class="btn btn-sm btn-danger ms-2 no-print" @onclick="() => RemoveIngredient(ingredient)">Remove</button>
            </li>
        }
    </ul>
}
else
{
    <p>No ingredients to display.</p>
}

@code {
    private void RemoveIngredient(RecipeIngredientDto ingredient)
    {
        AggregatedIngredientService.AggregatedIngredients.Remove(ingredient);
        StateHasChanged();
    }
}
