@page "/ingredients"

@using FoodCalc.Web.Components.Services
@using FoodHub.DTOs
@inject IngredientService IngredientService
@inject MessageService MessageService

<h3>Ingredients</h3>

@if (ingredients == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Should Be Added To Shopping Cart</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (ingredients != null)
            {
                var index = 0;
                @foreach (IngredientDto ingredient in ingredients)
                {

                    var rowClass = index % 2 == 0 ? "table-row-even" : "table-row-odd";
                    <tr class="@rowClass">
                        <td>@ingredient.Name</td>
                        <td>
                            <input type="checkbox"
                            checked="@ingredient.ShouldBeAddedToShoppingCart"
                            @onchange="(e) => OnCheckboxChanged(ingredient, e)" />
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                            @onclick="() => DeleteIngredient(ingredient.Id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
}

<FoodCalc.Web.Components.Shared.MessageBox />

@code {
    private List<IngredientDto> ingredients;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                ingredients = await IngredientService.GetAllIngredientsAsync();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                ingredients = [];
                await MessageService.ShowMessageAsync(ex.Message, true, 20000);
                StateHasChanged();
            }
        }
    }

    private async Task OnCheckboxChanged(IngredientDto ingredient, ChangeEventArgs e)
    {
        ingredient.ShouldBeAddedToShoppingCart = (bool)e.Value!;

        // Save the change to the server
        var updateDto = new UpdateIngredientDto 
        { 
            Id = ingredient.Id, 
            Name = ingredient.Name, 
            ShouldBeAddedToShoppingCart = ingredient.ShouldBeAddedToShoppingCart 
        };
        await IngredientService.UpdateIngredient(updateDto);

        // Show a message indicating success
        await MessageService.ShowMessageAsync("Ingredient updated successfully!", false);
    }

    private async Task DeleteIngredient(Guid id)
    {
        var success = await IngredientService.DeleteIngredient(id);
        if (success)
        {
            //ingredients = ingredients.Where(i => i.Id != id).ToList();
            //reinitialize the list
            await OnInitializedAsync();
            await MessageService.ShowMessageAsync("Ingredient deleted successfully!", false);
        }
        else
        {
            await MessageService.ShowMessageAsync("Failed to delete ingredient.", true);
        }
    }
}
