@page "/ingredient/add"
@using FoodCalc.Web.Components.Services
@using FoodHub.Persistence.Entities
@using Microsoft.Extensions.Logging

@inject IngredientService ingredientService
@inject ILogger<CreateRecept> logger

<h3>Add Ingredient To Recept</h3>

<div class="mb-3">
    <label for="ingredientName" class="form-label">Ingredient Name</label>
    <input type="text" id="ingredientName" class="form-control" @bind-value=ingredient.Name />
</div>

<button class="btn btn-primary" @onclick=AddIngredient>Add Ingredient</button>

@if (showMessage)
{
    @if (IsError)
    {
        <div class="alert alert-danger fade-out">
            @_message
        </div>
    }
    else
    {
        <div class="alert alert-success fade-out">
            @_message
        </div>
    }
}

@code {
    private bool showMessage = false;
    private bool IsError = false;
    private string _message = string.Empty;

    private Ingredient ingredient = new();

    async Task AddIngredient()
    {
        try
        {
            if (string.IsNullOrEmpty(ingredient.Name))
            {
                await ShowMessage("Name is required", true);
                return;
            }

            await ingredientService.AddIngredientAsync(ingredient);

            ingredient = new Ingredient
            {
	            Id = Guid.NewGuid(),
                Name = string.Empty
            };

            await ShowMessage("Ingredient added", false);
            //receptService.navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            await ShowMessage("Something went wrong", true);
            logger.LogError($"An unexpected error occurred: {ex.Message}");
        }
        finally
        {
            StateHasChanged();
        }
    }

    async Task ShowMessage(string message, bool isError, int timeInMs = 2000)
    {
        _message = message;
        IsError = isError;

        showMessage = true;
        StateHasChanged();

        await Task.Delay(timeInMs);

        showMessage = false;
        _message = string.Empty;
        IsError = false;
        StateHasChanged();
    }

}
