@page "/recepts/add"
@using FoodCalc.Web.Services
@using FoodHub.Persistence.Entities
@inject ReceptService ReceptService

<PageTitle>Add Recept</PageTitle>

<h3>Add Recept</h3>

@if (recept != null)
{
    <EditForm FormName="AddRecept" Model="recept" OnSubmit="@SubmitData">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <InputText @bind-Value=recept.Name id="Name" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}
else
{
    <p>Loading...</p>
}

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">@_errorMessage</div>
}

@code {
    private Recept recept = new Recept();
    private string _errorMessage = "";

    async Task SubmitData(EditContext editContext)
    {
        try
        {
            HttpResponseMessage response = await ReceptService.SaveNewRecept(recept);

            if (response.IsSuccessStatusCode)
            {
                _errorMessage = "";
            }
            else
            {
                _errorMessage = "Something went wrong: " + response.Content + " " + response.StatusCode + " " + response.Headers;
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"An unexpected error occurred: {ex.Message}";
            throw ex;
        }
        finally
        {
            StateHasChanged(); // Force UI refresh
            
        }
    }
}
