@page "/recepts/add"
@using FoodCalc.Web.Services
@using FoodHub.Persistence.Entities;
@inject ReceptService ReceptService

<PageTitle>Add Recept</PageTitle>

<h3>Add Recept</h3>

@if (recept != null)
{
    <EditForm FormName="AddRecept" Model="recept" OnSubmit="@SubmitData">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <InputText @bind-Value=recept.Name id="Name" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" value="Save" />
    </EditForm>
}
else
{
    <p>Loading...</p>
}

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">@_errorMessage</div>
}

@code {
    private Recept recept = new Recept();
    private string _errorMessage = "";

    async Task SubmitData(EditContext editContext)
    {
        try
        {
            Console.WriteLine($"Current name value: {recept.Name}");

            var i = new Ingredient(Guid.NewGuid(), "test ing", "1");
            recept.Ingredients.Add(i);

            HttpResponseMessage response = await ReceptService.SaveNewRecept(recept);

            //HttpResponseMessage response = await httpClient.PostAsJsonAsync("api/recept", recept);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("Data sent successfully!");
                _errorMessage = "";
            }
            else
            {
                Console.WriteLine($"Error: {response.StatusCode}");
                _errorMessage = "Something went wrong: " + response.Content + " " + response.StatusCode + " " + response.Headers;
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"An unexpected error occurred: {ex.Message}";
            throw ex;
        }

        StateHasChanged(); // Force UI refresh
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     try
    //     {
    //         //Make an API call to fetch the data for the recept
    //         var response = await httpClient.GetFromJsonAsync<Recept>("api/recept/3FA85F64-5717-4562-B3FC-2C963F66AFA6"); Example endpoint
    //         if (response != null)
    //         {
    //             recept = response;
    //         }
    //         else
    //         {
    //             _errorMessage = "Failed to load recept data.";
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         _errorMessage = $"Error loading recept data: {ex.Message}";
    //     }

    //     StateHasChanged();
    // }
}
